body{
    background: url(background.jpg);
    background-size: auto;
    background-repeat: auto;
    font-family: 'Helvetica', sans-serif;
    margin: auto;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: 'Helvetica', sans-serif;

    }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #B0B0B0 !important;
    }

    .btn-primary {
        color: #FFFFFF;
        background-color: #B0B0B0;
        border-color: #D3D3D3
    }

    a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }
    a{
        color: #FFFFFF;
        background-color: #B0B0B0;
        border-color: #D3D3D3;
        text-decoration: none;

    }
    .bootstrap-select {
        color:#384c70;
        border-color:#384c70; 
    }
    select {
        color:#384c70;
        border-color:#384c70; 
    }